@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');
body{
    background-color: white !important;
    overflow: hidden !important;
}
.ace_editor{
    height: 90vh !important;
    position: relative !important;
    top: 1px !important;
    width: 50vw !important;
}
.console-slider{
    position: absolute;
    top: -5px;
    right: 1vh !important;
}
.indiv_list_item{
    color: white !important;
}
.canvas{
    height: 100vh;
}
.adjust_top{
    margin-top:3%;
}
.canvas_parent{
    border-radius: 20px !important;
}
.side-boxes{
    height: 50vh;
    position: relative;
    top: 1px;
    left: 2vw;
    width: 45vw !important;
}
.console-headers{
    display: flex;
    padding: 5px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    color: white;
    justify-content: center;
    background-color: #0b67bd;
}
.our_lovely_canvas{
    height: 50vh !important;
    overflow:scroll;
    overflow-x: scroll;
    border-radius: 20px !important;
}
.label-up{
    color: white !important;
}
.secondary-header{
    font-weight: 100;
    position: relative;
    left: 2%;
}
.eraser{
    position: absolute;
}
.ace_output{
    width: 45vw !important;
}
.brush_icon{
 position: absolute !important;
}
.brush-icon-div{
    position: absolute;
}